
.buttonGP {
    width: 150px;
    height: 150px;
    margin: 100px auto;
    background-color: grey;
    text-align: center;
    line-height: 100px;
    font-size: 36px;
    color: white;  
    box-shadow: 0px 5px 0px rgba(0, 0, 0, .7);
}